<app-header></app-header>
<div class="main">
  <div class="filter-group py-5"> 
    <input type="text" class="form form-control" placeholder="Поиск" aria-label="Search" [(ngModel)]="searchStr">

    <select class="form form-select" name="sortItem" [(ngModel)]="sortItem" (change)="getData()" >
      <option value="" disabled>Сортировать по:</option>
      <option  *ngFor="let item of sortValue" [ngValue]='item'>{{item.name}}</option>
    </select>

    <div class="py-2">Категория:</div>
    <div class="form-check" *ngFor="let category of categoryValue">
      <input class="form-check-input" type="checkbox" [(ngModel)]="isChecked"  id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        {{category.name}}
      </label>
    </div>
  </div>
  <div class="card-group justify-content-around py-5 ">
    <div *ngFor="let lot of lots |  mainSearch : searchStr">
      <div class="card" style="width: 18rem;">

        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <a class="newsCard__cardTitle" [routerLink]="['/lot', lot.id]">
            <h5 class="card-title">{{lot.name}}</h5>
          </a>
          <p class="card-text">{{lot.description.substring(0, 50)}}</p>
          <p class="card-text">{{lot.price}}</p>
        </div>

      </div>
    </div>

    <div *ngIf="lots.length === 0 ">Товаров нет</div>
  </div>
</div>
